IisRest.API/Validations/BoughtAssetValidator.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BoughtAssetCreateDto">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="BuyDate" type="xs:dateTime" />
        <xs:element name="Amount" type="xs:float" />
        <xs:element name="AssetId" type="xs:integer" />
        <xs:element name="CurrencyId" type="xs:integer" />
        <xs:element name="PriceRate" type="xs:float" />
        <xs:element name="PriceDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
