IisRest.API/Validations/SoldAsset.rng

<?xml version="1.0" encoding="UTF-8"?>
<element name="SoldAssetCreateDto" xmlns="http://relaxng.org/ns/structure/1.0" >
    <element name="sellDate">
      <text/>
    </element>
    <element name="amount">
      <text/>
    </element>
    <element name="assetId">
      <text/>
    </element>
    <element name="currencyId">
      <text/>
    </element>
    <element name="priceRate">
      <text/>
    </element>
    <element name="priceDate">
      <text/>
    </element>
</element>    